body{
    font-family: 'Yomogi', cursive;
    background-image: url('../img/mujer.jpg') no-repeat cover;
}
section{
    background-color: rgb(210, 170, 248);
}
#div-centrado{
    width: 500px;
    margin: auto;
    text-align: center;
}
#seccion_quien_soy h2{
    color: white;
    text-align: center;
}
#seccion_quien_soy p{
    text-align: center;
}
#seccion_quien_soy img{
    width: 700px;
}
ol{
    text-align: center;
}
.elemento-lista-hobbie{
    color: red;
    font-weight: bold;
}
p{
    color: red;
}
p{
    color: blue;
}

nav ul {
    list-style: none;
}
nav ul li{
    display: inline-block;
    width: 200px;
    margin: 30px;
}